header button {
  // margin-left: auto;
  background-color: #ffd300;
  color: #000;
  border: 1px solid black;
  padding: 13px 50px;
  cursor: pointer;
  transition: transform 0.3s ease;
  font-family: "futura-pt", sans-serif;
  font-weight: 700;
  font-size: 32px;
  text-transform: uppercase;
  justify-content: flex-end;
}

header button:hover {
  transform: scale(1.03);
}

main {
  position: relative;
  overflow: hidden;
}

header {
  position: absolute;
  margin: 105px 50px 0 50px;
  display: flex;
  justify-content: space-between;
  z-index: 2;
  width: 1340px;
}

// -------------à changer de place------

.image-container {
  width: 100%; /* Ajuste selon la taille souhaitée */
  height: 100%; /* Ajuste la hauteur si nécessaire */
  overflow: hidden;
  margin: 0 auto;
  position: relative;
}

.zoom-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform-origin: center center; /* Centrer l'image pour le zoom */
  position: relative; /* Pas de position fixe pour éviter d'occuper toute la fenêtre */
}

.gradient {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%; /* Ajustez la taille du dégradé selon vos besoins */
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 50%,
    rgba(28, 28, 28, 1) 98%
  );
  opacity: 0; /* Initialement invisible */
  pointer-events: none; /* Pas d'interférence avec l'interaction de l'utilisateur */
}

.test {
  position: absolute;
  bottom: 50px; /* Ajustez la distance depuis le bas */
  left: 34%;
  right: 34%;
  // transform: translateX(100%);
  opacity: 0; /* Initialement caché */
  // transition: opacity 0.5s ease; /* Transition fluide */
  padding: 13px 50px;
  font-family: "futura-pt", sans-serif;
  font-weight: 700;
  font-size: 32px;
  background-color: #ffd300;
  color: #000;
  border: 1px solid black;
  cursor: pointer;
  text-transform: uppercase;
  align-items: center;
  z-index: 9999;
  transition: transform 0.3s ease;
}
.test:hover {
  // background-color: #ffe100;
  transform: scale(1.05); /* Légère augmentation de la taille */
}
// ------helicopter------

.helicopter {
  position: absolute;
  top: -10px; /* Ajustez pour le positionner juste au-dessus du coin gauche */
  left: -400px; /* Ajustez pour qu'il soit légèrement en dehors à gauche */
  transform: scale(0.5);
  z-index: 10; /* Le mettre au-dessus des autres éléments */
  opacity: 0;
  pointer-events: none; /* Empêche tout /* Caché avant le début de l’animation */
}

// -------à changer de place----- projet secret----

.projet-secret {
  position: relative;
  background-color: #1c1c1c;
  display: flex;
  flex-direction: column;
  padding-bottom: 115px;
  max-width: 300%;
}

.projet-secret img {
  width: 655px;
  padding-top: 115px;
  padding-bottom: 68px;
}

.projet-secret div:first-child {
  justify-content: center;
}

.projet-secret button:first-child {
  padding: 13px 50px;
  margin: auto;
  font-family: "futura-pt", sans-serif;
  font-weight: 700;
  font-size: 32px;
  background-color: #ffd300;
  color: #000;
  border: 1px solid black;
  cursor: pointer;
  text-transform: uppercase;
  align-items: center;
  z-index: 9999;
  transition: transform 0.3s ease;
}

.projet-secret button:hover {
  // background-color: #ffe100;
  transform: scale(1.05); /* Légère augmentation de la taille */
}

// ----bouton flèche-----

/* Le deuxième bouton clignotant (initialement caché) */
.button-clignotant {
  width: 70px;
  height: 70px;
  position: absolute;
  top: 835px;
  right: 50px;
  border-radius: 50%;
  display: none; /* Caché au début */
  padding: 5px;
  font-size: 30px;
  background-color: #ffd300;
  color: #000;
  border: 1px solid black;
  cursor: pointer;
  text-transform: uppercase;
  z-index: 9999;
  animation: blink 1.5s infinite; /* Animation clignotante */
}

i {
  content: "\f061";
  font-size: 30px;
}

/* Animation clignotante de la flèche */
@keyframes blink {
  0% {
    scale: 1;
  }
  50% {
    scale: 1.2;
  }
  100% {
    scale: 1;
  }
}
