iframe {
  opacity: 0.5;
  position: relative;
}

.video h3 {
  text-align: center;
  color: red;
  text-transform: uppercase;
  position: absolute;
  font-size: 80px;
  top: 1000px;
  left: 700px;
  visibility: hidden;
}

.video {
  justify-content: center;
  margin-top: 160px;
}
