@import "modules/footer";
@import "modules/scroll-button";
@import "modules/BD_carousel";
@import "modules/video";
@import "modules/book_section";

// ------------------

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "futura-pt", sans-serif;
  font-weight: 400;
  font-size: 20px;
}

a {
  color: inherit;
}

img,
video {
  display: block;
}

// ------------------

body {
  max-width: 1440px;
  margin: auto;
  border: 1px solid black; /* Bordure pour rendre visible */
}

h3 {
  font-family: "pedestria-mvb", sans-serif;
  font-weight: 700;
  font-size: 32px;
}

h2 {
  font-family: "pedestria-mvb", sans-serif;
  font-weight: 700;
  font-size: 60px;
}

div {
  display: flex;
}

// ---------
